.purchase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-container {
    display: flex;
    gap: 60px;
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
}

.purchase-left {
    flex: 1;
}

.purchase-left-inner {
    max-width: 720px;
    margin: 0 auto;
}

.purchase-right {
    width: 360px;
}

.summary-box {
    border: 1px solid #000000;
    width: 100%;
    background-color: #fff;
    
}

.purchase-button {
    width: 100%;
    margin-top: 20px;
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.purchase-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.purchase-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 1px solid #000000;
}

.purchase-info h2 {
    margin: 0;
}

.purchase-section {
    border-top: 1px solid #000;
    padding-top: 30px;
    margin-top: 30px;
}

.purchase-section label {
    display: block;
    margin-bottom: 8px;
}

.payment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-top: 15px;
}


.summary-row {
    padding: 24px;
}

.summary-row + .summary-row {
    border-top: 1px solid #000;
}